.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.contact-wrap {
  /* background-color: red; */
  border: 5px solid #fff;
}
.reqTitle {
  position: relative;
}
.reqTitle::before {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background: #27ae60;
  position: absolute;
  left: 35%;
  top: 50px;
  z-index: -2;
}
.reqTitle::after {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #27ae60;
  position: absolute;
  left: 40%;
  top: 60px;
  z-index: -2;
}

@media only screen and (max-width: 600px) {
  .formArea {
    padding: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .formArea {
    padding: 30px;
  }
}
